In [58]:
import pandas as pd
import wget

In [60]:
# url of the raw csv dataset
urls = [
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',
    'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
]
[wget.download(url) for url in urls]

100% [......................................................] 1215489 / 1215489

100% [........................................................] 843695 / 843695

['time_series_covid19_confirmed_global.csv',
 'time_series_covid19_deaths_global.csv']

In [70]:
confirmed_df = pd.read_csv('time_series_covid19_confirmed_global.csv')
confirmed_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/14/22,4/15/22,4/16/22,4/17/22,4/18/22,4/19/22,4/20/22,4/21/22,4/22/22,4/23/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,178352,178373,178387,178418,178457,178513,178574,178611,178638,178648
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,274376,274429,274462,274504,274520,274535,274606,274606,274737,274791
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265733,265738,265739,265739,265741,265746,265746,265754,265761,265761
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,40709,40709,40709,40709,40709,40709,41013,41013,41013,41013
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99287,99287,99287,99287,99287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,656617,656617,656617,656617,656617,656876,656876,656876,656876,656876
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11815,11817,11817,11817,11818,11818,11818,11818,11818,11818
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,318229,318404,318467,318515,318515,318640,318640,318984,318984,318984
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,247208,247237,247237,247278,247297,247297,247336,247383,247488,247524

In [71]:
deaths_df = pd.read_csv('time_series_covid19_deaths_global.csv')
deaths_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/14/22,4/15/22,4/16/22,4/17/22,4/18/22,4/19/22,4/20/22,4/21/22,4/22/22,4/23/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,7676,7676,7676,7678,7679,7680,7680,7680,7680,7681
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,3495,3495,3496,3496,3496,3496,3496,3496,3496,3496
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6874,6874,6874,6874,6874,6874,6874,6874,6874,6874
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,5656,5656,5656,5656,5656,5657,5657,5657,5657,5657
280,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
281,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2147,2148,2148,2148,2148,2148,2148,2148,2148,2148
282,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,3969,3970,3973,3973,3973,3973,3973,3974,3974,3974
283,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,5462,5462,5462,5463,5464,5464,5466,5467,5468,5468

In [72]:
dates = confirmed_df.columns[4:]
confirmed_df_long = confirmed_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Confirmed'
)
deaths_df_long = deaths_df.melt(
    id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
    value_vars=dates, 
    var_name='Date', 
    value_name='Deaths'
)

In [73]:
confirmed_df_long

,Province/State,Country/Region,Lat,Long,Date,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
233727,NaN,West Bank and Gaza,31.952200,35.233200,4/23/22,656876
233728,NaN,Winter Olympics 2022,39.904200,116.407400,4/23/22,535
233729,NaN,Yemen,15.552727,48.516388,4/23/22,11818
233730,NaN,Zambia,-13.133897,27.849332,4/23/22,318984
233731,NaN,Zimbabwe,-19.015438,29.154857,4/23/22,247524

In [76]:
deaths_df_long

,Province/State,Country/Region,Lat,Long,Date,Deaths
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
233727,NaN,West Bank and Gaza,31.952200,35.233200,4/23/22,5657
233728,NaN,Winter Olympics 2022,39.904200,116.407400,4/23/22,0
233729,NaN,Yemen,15.552727,48.516388,4/23/22,2148
233730,NaN,Zambia,-13.133897,27.849332,4/23/22,3974
233731,NaN,Zimbabwe,-19.015438,29.154857,4/23/22,5468

In [77]:
# Merging confirmed_df_long and deaths_df_long
full_table = confirmed_df_long.merge(
  right=deaths_df_long, 
  how='left',
  on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long']
)

In [78]:
# Sum of Confirmed and Death Cases = confirmed + deaths 
full_table['Sum of Cases'] = full_table['Confirmed'] + full_table['Deaths']

full_table

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Sum of Cases
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0,0,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0,0,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0,0,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0,0,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0,0,0
...,...,...,...,...,...,...,...,...
233727,NaN,West Bank and Gaza,31.952200,35.233200,4/23/22,656876,5657,662533
233728,NaN,Winter Olympics 2022,39.904200,116.407400,4/23/22,535,0,535
233729,NaN,Yemen,15.552727,48.516388,4/23/22,11818,2148,13966
233730,NaN,Zambia,-13.133897,27.849332,4/23/22,318984,3974,322958
233731,NaN,Zimbabwe,-19.015438,29.154857,4/23/22,247524,5468,252992

In [79]:
full_table['Date'] = pd.to_datetime(full_table['Date'])

In [80]:
full_grouped = full_table.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Sum of Cases'].sum().reset_index()

full_grouped

/var/folders/r5/g_jnznwd2lqgtnpwrct5_spc0000gn/T/ipykernel_18874/887480132.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  full_grouped = full_table.groupby(['Date', 'Country/Region'])['Confirmed', 'Deaths', 'Sum of Cases'].sum().reset_index()

             Date        Country/Region  Confirmed  Deaths  Sum of Cases
0      2020-01-22           Afghanistan          0       0             0
1      2020-01-22               Albania          0       0             0
2      2020-01-22               Algeria          0       0             0
3      2020-01-22               Andorra          0       0             0
4      2020-01-22                Angola          0       0             0
...           ...                   ...        ...     ...           ...
162949 2022-04-23    West Bank and Gaza     656876    5657        662533
162950 2022-04-23  Winter Olympics 2022        535       0           535
162951 2022-04-23                 Yemen      11818    2148         13966
162952 2022-04-23                Zambia     318984    3974        322958
162953 2022-04-23              Zimbabwe     247524    5468        252992

[162954 rows x 5 columns]